{
  "plugins": [
    "transform-object-rest-spread",
    "import-glob"
  ],
  "env": {
    "commonjs": {
      "presets": ["es2015", "react"]
    },
    "es": {
      "presets": [["es2015", { "modules": false }], "react"]
    }
  }
}
